.unreg-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  font-family: $ff-redhatdisplay;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: $color-night-rider;

  @include vp-767 {
    margin-left: 0;
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    color: $color-default-black;
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  // firefox placeholder \ invalid fix + ios bdrs
  input {
    border-radius: 0;

    &::placeholder {
      opacity: 1;
    }

    &:invalid {
      box-shadow: none;
    }
  }

  select {
    border-radius: 0;
  }

  // ie11 X removal
  input {
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  input[type="number"] {
    appearance: textfield;
  }

  // ios button \ inputs reset
  select,
  input:matches([type="email"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="url"]) {
    appearance: none;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    appearance: none;
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 11px 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;

    color: $color-default-white;
    background-color: $color-neon-blue;

    border-radius: 8px;
    border: none;
    user-select: none;
    cursor: pointer;

    transition: background-color $trans-default, color $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        background-color: $color-free-speech-blue;
      }
    }

    &:focus {
      background-color: $color-free-speech-blue;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      padding: 7px 10px;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
