.unreg-select-container {
  .custom-input {
    position: relative;
    display: flex;
    padding: 0 0 20px;
    margin-bottom: 3px;

    label {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        flex-grow: 1;
        min-height: 48px;
        padding: 10px 12px;

        font-family: $ff-redhatdisplay;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.03em;
        color: $color-night-rider;

        border: 1px solid $color-silver3;
        border-radius: 8px;

        outline: none;

        transition: border $trans-default, box-shadow $trans-default;

        &:hover {
          border: 1px solid $color-neon-blue;
        }

        &:focus {
          border: 1px solid $color-neon-blue;
          box-shadow: 0 0 3px $color-neon-blue;
        }

        &::placeholder {
          font-family: $ff-redhatdisplay;
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          letter-spacing: 0.03em;
          color: $color-silver3;
          user-select: none;
        }

        @include vp-767 {
          font-size: 18px;
        }
      }
    }

    &__error {
      position: absolute;
      right: 0;
      bottom: -5px;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: right;
      letter-spacing: 0.03em;
      color: $color-silver3;

      opacity: 0;

      transition: opacity $trans-default;
    }

    &.is-invalid {
      input {
        border: 1px solid $color-flamingo;
        box-shadow: none;
        transition: border $trans-default;

        &:focus,
        &:hover {
          border: 1px solid rgba($color-flamingo, 0.5);
          box-shadow: none;
        }
      }

      .custom-input__error {
        opacity: 1;
      }
    }
  }

  .custom-input__labell {
    margin-bottom: 6px;

    font-family: $ff-redhatdisplay;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.03em;
    color: $color-night-rider;
  }

  .custom-select {
    position: relative;

    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    margin-bottom: 3px;
    user-select: none;

    &__placeholder {
      position: absolute;
      bottom: 33px;
      left: 12px;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.03em;
      color: $color-silver3;

      transition: transform $trans-default, opacity $trans-default;

      user-select: none;
      pointer-events: none;
    }

    select {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;

      white-space: nowrap;

      border: 0;

      clip: rect(0 0 0 0);
      clip-path: inset(100%);
    }

    &__button {
      display: flex;
      align-items: center;
      width: calc(100% - 236px);
      height: 48px;
      min-height: 48px;
      padding: 5px 12px;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.03em;
      color: $color-night-rider;

      background-color: $color-transparent;
      border: 1px solid $color-silver3;
      border-radius: 8px;
      outline: none;
      cursor: pointer;

      transition: border $trans-default, box-shadow $trans-default;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          border: 1px solid $color-neon-blue;
        }
      }

      &:focus {
        border: 1px solid $color-neon-blue;
        box-shadow: 0 0 4px $color-neon-blue;
      }

      @include vp-767 {
        width: calc(100% - 57px);
      }
    }

    &__list {
      position: absolute;
      bottom: 15px;
      z-index: 1;

      width: 100%;
      max-height: 100px;
      margin: 0;
      padding: 0;
      overflow-y: auto;

      list-style: none;

      background-color: $color-default-white;
      border: none;
      box-shadow: 0 4px 42px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      transform: translateY(100%);
      visibility: hidden;
      opacity: 0;

      transition: visibility $trans-default, opacity $trans-default;

      &:empty {
        border: 1px solid $color-transparent;
      }
    }

    &__item {
      padding: 5px;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.03em;
      color: $color-night-rider;
      background-color: transparent;

      outline: none;
      cursor: pointer;

      transition: background-color $trans-default;

      &[aria-selected="true"] {
        background-color: rgba($color-silver, 0.2);

        @media (hover: hover), screen and (min-width: 0\0) {
          &:hover {
            background-color: rgba($color-silver, 0.2);
          }
        }

        &:focus {
          background-color: rgba($color-silver, 0.2);
        }
      }
//---------------------------------------------------------
      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          background-color: rgba($color-silver, 0.4);
        }
      }

      &:focus {
        background-color: rgba($color-silver, 0.4);
      }
    }

    // &.custom-select-up > .custom-select__list {
    //   .custom-select__item {
    //     @media (hover: hover), screen and (min-width: 0\0) {
    //       &:hover {
    //         background-color: rgba($color-silver, 0.4);
    //       }
    //     }

    //     &:focus {
    //       background-color: rgba($color-silver, 0.4);
    //     }
    //   }
    // }

    &__error {
      position: absolute;
      right: 0;
      top: 50px;
      bottom: unset;

      font-family: $ff-redhatdisplay;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: right;
      letter-spacing: 0.03em;
      color: $color-silver3;

      opacity: 0;

      transition: opacity $trans-default;
    }

    &__text {
      flex-shrink: 0;
      width: 90%;
      height: 90%;
      border: none;
      overflow: hidden;

      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;

      opacity: 0;

      transition: opacity $trans-default 0.1s;

      br {
        display: none;
      }
      &:focus {
        outline: none;
      }
    }

    &__icon {
      flex-shrink: 0;
      width: 14px;
      height: 7px;
      margin-left: auto;

      background-color: $color-night-rider;

      transition: transform $trans-default;

      clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
    }

    &.open-up {
      .custom-select__list {
        bottom: auto;
        top: 0;
        transform: translateY(calc(-100% + 30px));
      }
    }

    &.is-open {
      .custom-select__list {
        visibility: visible;
        opacity: 1;
      }
    }

    &.not-empty {
      .custom-select__text {
        opacity: 1;
      }

      .custom-select__placeholder {
        opacity: 0;
      }
    }

    &.is-invalid {
      .custom-select__error {
        opacity: 1;
      }

      .custom-select__button {
        border: 1px solid $color-flamingo;

        @media (hover: hover), screen and (min-width: 0\0) {
          &:hover {
            border: 1px solid rgba($color-flamingo, 0.5);
          }
        }

        &:focus {
          border: 1px solid rgba($color-flamingo, 0.5);
        }
      }
    }

    &.slide-up.not-empty,
    &.slide-up.is-open {
      .custom-select__text {
        opacity: 1;
      }
    }

    // scrollbar
    /* для Firefox */
    ul {
      scrollbar-width: auto;
      scrollbar-color: #b9b9ff #e7e7fd;
    }

    /* для Chrome/Edge/Safari */
    ul::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    ul::-webkit-scrollbar-track {
      background: #e7e7fd;
      border-radius: 11px;
    }

    ul::-webkit-scrollbar-thumb {
      background-color: #b9b9ff;
      border-radius: 11px;
    }
  }

  .custom-select:not(.custom-select-edit) > .custom-select__button {
    .custom-select__icon {
      display: none;
    }
  }

  .custom-select.custom-select-up {
    .custom-select__button {
      position: relative;
      padding-right: 12px;

      .custom-select__selected-list-edit {
        margin: 0;
        padding: 0;

        input {
          max-width: 77px;
          min-height: 18px;
          padding: 0;
          border: none;

          &::placeholder {
            font-size: 12px;
          }

          &:focus {
            filter: none;
            box-shadow: none;
          }
        }
      }
    }

    .custom-select__icon {
      width: 14px;
      height: 8px;

      background-color: transparent;
      background-image: url("/src/assets/img/svg/multi-list.svg");
      clip-path: none;
    }

    .custom-select__list {
      display: flex;
      flex-wrap: wrap;

      max-height: 187px;
      padding: 44px 14px 21px;
      border: none;
      border-radius: 8px;
      z-index: 2;

      &::before {
        content: "Recommended";
        position: absolute;
        top: 14px;
        left: 15px;
      }

      @include vp-767 {
        display: none;
      }
    }

    & > .custom-select__list {
      bottom: initial;
      top: -220px;
    }

    .custom-select__item {
      position: relative;
      margin-right: 10px;
      margin-top: 10px;
      padding: 6px 8px;

      color: $color-dim-gray;

      border-radius: 8px;
      outline: 1px solid $color-silver3;
      outline-offset: -1px;

      &[aria-selected="true"] {
        display: none;
      }
    }

    &.is-open {
      .custom-select__button {
        border: 1px solid $color-silver3;
        box-shadow: none;
      }

      .custom-select__list {
        box-shadow: 0 4px 42px rgba(0, 0, 0, 0.1);
      }
    }

    &[data-editable="true"] {
      .custom-select__selected-list {
        margin-bottom: 0;
      }

      .custom-select__placeholder {
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);

        @include vp-767 {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .custom-select__selected-list-item .custom-input {
      margin-bottom: 0;
    }

    .custom-select__placeholder {
      top: 50%;
      transform: translateY(-50%);
      bottom: unset;
    }

    &.not-empty {
      .custom-select__placeholder {
        opacity: 1;
      }
    }
  }

  // верхний список выбранных элементов
  .custom-select__selected-list-container {
    position: relative;
    padding-top: 22px;
    padding-left: 10px;
    order: 1;

    &.not-empty {
      .custom-select__selected-list-toggle {
        position: absolute;
        display: block;
        top: -9px;
        right: 8px;
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 3px;

        svg {
          fill: $color-dim-gray;
        }

        @include vp-767 {
          display: none;
        }
      }

      .custom-select__selected-list {
        margin-bottom: 3px;
        padding-top: 2px;
        padding-bottom: 6px;
      }

      &:focus-within {
        .custom-input__label {
          z-index: 1;
        }
      }

      .custom-select-edit + .custom-select__popup {
        position: absolute;
        right: 72px;
        top: 39px;
        z-index: 3;

        width: 185px;
        min-height: 150px;
        padding: 7px 34px 7px 4px;

        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: $color-dim-gray;

        background-color: $color-default-white;
        box-shadow: 0  4px 42px rgba(0, 0, 0, 0.07);
        border-radius: 8px;
        opacity: 0;
        visibility: hidden;
        transition: opacity $trans-default;

        @include vp-767 {
          right: 0;
          top: -150px;
          padding: 7px 19px;
        }

        p {
          margin: 0;
          margin-bottom: 14px;
        }

        img {
          position: absolute;
          right: 23px;
          bottom: -8px;

          width: 8px;
          height: 8px;
          pointer-events: none;

          transform: rotate(90deg);

          @include vp-767 {
            display: none;
          }
        }
      }

      .custom-select-edit.is-open + .custom-select__popup {
        opacity: 1;
        visibility: visible;
      }
    }

    @include vp-767 {
      order: 1;
      margin-top: 10px;
      padding-top: 9px;
    }

    // выпадающий список у элемента выбранного списка
    .custom-select.custom-select-edit {
      min-height: unset;
      height: 100%;
      min-width: 96px;
      width: auto;
      margin: 0;
      margin-left: -10px;
      padding: 0;
      order: 2;

      .custom-select__label {
        position: absolute;
        top: -9px;
        left: 19px;
        margin: 0;
        padding: 3px;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: $color-silver3;
        background-color: $color-default-white;
        border-radius: 4px;
        opacity: 0;
      }

      .custom-select__placeholder {
        top: 50%;
        transform: translateY(-50%);
        padding-left: 7px;
        font-size: 10px;
        line-height: 120%;
        max-width: 70px;
        text-align: left;
        opacity: 1;

        @include vp-767 {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .custom-select__button {
        position: static;
        min-height: unset;
        height: 100%;
        width: 100%;
        padding-left: 19px;
        padding-right: 9px;
        padding-top: 2px;
        padding-bottom: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.03em;
        color: $color-night-rider;
        border-left-color: $color-transparent;
        border-radius: 0 8px 8px 0;
        transition: border $trans-default;

        &:active {
          box-shadow: none;
        }

        &:focus {
          box-shadow: none;
        }

        input {
          font-size: 12px;

          @include vp-767 {
            font-size: 18px;
          }
        }
      }

      .custom-select__icon {
        width: 10px;
        height: 6px;
        margin-left: auto;

        background-color: $color-night-rider;
        background-image: none;

        clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
      }

      .custom-select__list {
        bottom: 100%;
        left: 11px;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 90%;
        min-width: 97px;
        max-height: 400px;
        padding: 7px 0 9px;
        box-shadow: none;
        border-radius: 8px;
        overflow: unset;
        z-index: 1;

        &::before {
          content: "Experience";
          position: absolute;
          top: -9px;
          left: 8px;
          display: block;
          padding: 3px;
          font-weight: 400;
          font-size: 10px;
          line-height: 130%;
          letter-spacing: -0.01em;
          color: $color-silver3;
          background-color: $color-default-white;
          border-radius: 4px;
        }

        @include vp-767 {
          display: flex;
        }
      }

      .custom-select__selected-text-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 16px;
      }

      .custom-select__list-close {
        width: 16px;
        height: 12px;
        padding: 3px;
        margin-right: 8px;
        margin-top: 5px;
        border-radius: 4px;
        background-color: $color-transparent;

        .btn__text {
          display: block;
          width: 100%;
          height: 100%;
          background-color: $color-night-rider;
          clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
        }

        @media (hover: hover), screen and (min-width: 0\0) {
          &:hover {
            background-color: $color-gainsboro;
          }
        }

        @include vp-767 {
          padding: 0;
        }
      }

      .custom-select__selected-text {
        margin: 0;
        padding-left: 9px;
        font-size: 12px;
        line-height: 166%;
        letter-spacing: 0.03em;
        color: $color-night-rider;
      }

      .custom-select__item {
        margin: 0;
        padding: 12px 9px 11px;
        font-weight: 400;
        font-size: 12px;
        border-radius: 0;
        outline: none;
        color: $color-night-rider;

        &:not(:first-child) {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 1px;
            width: calc(100% - 18px);
            background-color: rgba(217, 217, 217, 0.5);
          }
        }

        &[aria-selected="true"] {
          display: block;
          background-color: $color-transparent;

          @media (hover: hover), screen and (min-width: 0\0) {
            &:hover {
              background-color: rgba($color-silver, 0.4);
            }

            &:last-child:hover {
              background-color: $color-transparent;
            }
          }

          &:focus {
            background-color: rgba($color-silver, 0.4);
          }

          &:last-child:focus {
            background-color: $color-transparent;
          }
        }

        &:last-child {
          padding-top: 8px;
          padding-bottom: 0;

          &:hover,
          &:focus {
            background-color: $color-transparent;
          }
        }

        // поле редактирования в последнем пункте списка
        .custom-input {
          margin: 0;
          padding: 0;

          input {
            min-width: 77px;
            min-height: 32px;
            padding: 2px 7px;

            &:active {
              filter: none;
              box-shadow: none;
            }
          }

          input::placeholder {
            font-weight: 400;
            font-size: 10px;
            line-height: 130%;
            letter-spacing: 0.03em;
          }

          .custom-input__label {
            position: static;
            padding: 0;
            opacity: 1;
          }
        }
      }

      &.not-empty {
        min-width: 95px;
      }

      &.not-empty.has-value {
        min-width: 107px;
      }

      &.has-value {
        .custom-select__placeholder {
          opacity: 0;
        }

        .custom-select__label {
          opacity: 1;
        }
      }

      &.is-open {
        box-shadow: 0 4px 42px rgba(0, 0, 0, 0.07);
        outline: none;
        z-index: 4;

        .custom-select__list {
          box-shadow: 0 4px 42px rgba(0, 0, 0, 0.07);
        }

        .custom-select__button {
          border: 1px solid $color-transparent;
          box-shadow: none;
        }

        .custom-select__icon {
          transform: scaleX(-1);
        }
      }

      &:not(.is-open) {
        .custom-select__list {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .custom-select__item-text {
      order: 1;
      position: relative;
      margin: 0;
      padding: 5px 8px 3px;
      line-height: 175%;
      overflow-wrap: break-word;
      word-break: break-word;
      color: $color-default-white;
      background-color: #bcbcbc;
      border-radius: 8px;
    }

    .custom-select__item-close {
      position: absolute;
      left: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      padding: 0;
      color: #cccccc;
      border-radius: 50%;
      background-color: $color-transparent;
      border: none;
      transition: color $trans-default;
      z-index: 1;

      @include vp-1023 {
        padding: 0;
      }

      @include vp-767 {
        padding: 0;
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          color: $color-default-white;
          background-color: $color-transparent;
          opacity: 1;

          svg {
            fill: $color-gainsboro;
          }
        }
      }

      &:active {
        opacity: 1;
        background-color: $color-transparent;
      }

      &:focus {
        opacity: 1;
        background-color: $color-transparent;
      }

      svg {
        fill: #ebe6e6;
        transition: fill $trans-default;
      }
    }

    .custom-select.custom-select--edit.has-value,
    .custom-select.custom-select--edit.is-valid {
      .custom-input__label {
        opacity: 1;
      }
    }
  }

  .custom-select__selected-list-item {
    position: relative;
    margin-right: 14px;
    margin-bottom: 6px;
    padding: 3px 27px 3px 7px;
    color: $color-default-white;
    background-color: #575757;
    border-radius: 8px;
    outline: none;
    // word-break: break-word;
    cursor: pointer;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        opacity: 0.6;
      }
    }

    &:focus {
      opacity: 0.8;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 9px;
      width: 12px;
      height: 2px;
      background-color: $color-default-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    // элемент списка выбранных элементов с полем выбора справа
    &.is-editable {
      display: flex;
      align-items: center;
      margin: 0;
      margin-right: 21px;
      margin-bottom: 9px;
      padding: 0;
      color: $color-default-white;
      background-color: transparent;
      outline: none;

      @include vp-767 {
        margin-right: 14px;
        margin-bottom: 14px;
      }

      &::before,
      &::after {
        display: none;
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
          opacity: 1;
        }
      }

      &:active,
      &:focus {
        opacity: 1;
      }

      .custom-input__label {
        position: absolute;
        top: -11px;
        left: 18px;
        margin: 0;
        padding: 0 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;
        letter-spacing: -0.01em;
        color: $color-silver3;
        background-color: $color-default-white;
        opacity: 0;
        user-select: none;
      }
    }
  }

  .custom-select__selected-list-toggle {
    display: none;
  }

  .custom-select__selected-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
